torch>=2.2.2
torchvision>=0.17.2
numpy<2.0.0
transformers>=4.42.4
safetensors>=0.4.3
omegaconf>=2.3.0
PyYAML>=6.0
timm>=0.9.16
fairscale>=0.4.13
iopath>=0.1.9
albumentations>=1.4.4
opencv-python>=4.6.0
pillow>=10.0.0
webdataset>=0.2.86
rapidfuzz>=3.8.1
ftfy>=6.2.0
nltk>=3.8.1
tabulate>=0.9.0
tqdm>=4.66.0
tensorboardX>=2.6.0
termcolor>=2.4.0
pandas>=2.2.0
scipy>=1.10.0
scikit-image<=0.20.0
matplotlib>=3.8.0
huggingface_hub>=0.34.0
Wand>=0.6.13
